{% extends 'base.html.twig' %}

{% block body %}
    <h1> Edit your Profile {{form.firstname.vars.value }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary"> Save changes </button>
    {{ form_end(form) }}
{% endblock %}        